@{
    ViewData["Title"] = "Func1";
}

<div class="row">
    <div class="col-md-12">
        <a asp-area="" asp-controller="Func" asp-action="CallOrchestrator" class="btn btn-primary">Start Orchestrator</a>
    </div>
</div>
