@{
    ViewData["Title"] = "Api1";
}

<div class="row">
    <div class="col-md-12">
        <a asp-area="" asp-controller="Api1" asp-action="CallKeyVault" class="btn btn-primary">Call Key Vault</a>
    </div>
    <div class="col-md-12 mt-2">
        <a asp-area="" asp-controller="Api1" asp-action="CallTokenExpiration" class="btn btn-primary">Call Token Expiration</a>
    </div>
</div>
